.scrollable-container{
    padding-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    height:212px;
    widows: 100%;
    text-align:left;
    white-space: nowrap;
    overflow-y:hidden;
}

.preview-struct{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 12px;
    margin-top: 18px;
}

.space {
    margin-bottom: 62px;
}

.grid-container {
    padding-left: 4px;
    padding-right: 4px;
}

.center-container {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30vh;
}